#test{
    color: blueviolet;
    margin-left: 25%;
    border: 1px solid black;
    height: 40px;
    width: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    letter-spacing: 1px;
    border-bottom: 5px solid blue;
    border-width: 5px solid blue;
}
button{
    border: 1px solid;
    color: blue;
    background-color: black;
    height: auto;
    width: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 1px  blue;
    font-size: 20px;
    margin-left: 50%;
    cursor: pointer;
}
button:hover{
    background-color:blueviolet;
    color:paleturquoise;
}
.container:hover #test{
    opacity: 1;
    color: black;
}